@charset "utf-8";
/* CSS Document */
#block-grid-right a#container-button-add {
	min-width:132px;
	height:25px;
	background:url(../images/button-add-center.png) center !important;
  	/*background-image: linear-gradient(to bottom, #0065A4 0%, #A0CF67 100%);*/
	font-family:"Stag Sans Book", Arial, sans-serif;
	font-size:15px;
	text-align:center;
	line-height:27px;
	*line-height:23px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-khtml-border-radius:5px;
	behavior: url(PIE/PIE.htc);
	color:#fff;
	border:1px solid #7ea146;
	padding:0 10px 0 25px;
	margin-top:20px;
	margin-bottom:10px;
	display:block;
	position:relative;
	float:right;
	}
