@charset "utf-8";
/* the container */

#banner-container {
	width:1920px;
	height:408px;
	background:url(../images-visor/sweet/background-banner.jpg) no-repeat;
	position:relative;
	}
	
#banner-container #container-nav-min-left {
	position:absolute;
	top:330px;
	left:130px;
	z-index:201;
	}	

#banner-container #container-nav-min-right {
	position:absolute;
	top:330px;
	right:130px;
	z-index:201;#banner-container
	}
	
#container-nav-min-right #container-min-left,
#container-nav-min-left  #container-min-left {
	width:30px;
	height:93px;
	background:url(../images-visor/sweet/container-min-left.png) no-repeat;
	display:block;
	float:left;
	}	
	
#container-nav-min-right #container-min-right,
#container-nav-min-left  #container-min-right {
	width:30px;
	height:93px;
	background:url(../images-visor/sweet/container-min-right.png) no-repeat;
	display:block;
	float:left;
	}	
	
#container-nav-min-right #container-min-center,
#container-nav-min-left  #container-min-center {
	min-width:35px;
	height:93px;
	background:url(../images-visor/sweet/container-min-center.png) repeat-x;
	padding:12px 0;
	margin:0;
	list-style:none;
	float:left;
	}
	
#container-min-center li {
	float:left;
	}	
	
#container-min-center li a {
	width:34px;
	height:49px;
	display:block;
	border:1px solid #0a5899;
	text-decoration:none;
	margin:0 10px;
	overflow:hidden;
	}	
	
#container-min-center li a img {
	width:100%;
	height:auto;
	}	
	
#container-min-center li a:hover {
	border:1px solid #3bbbec;
	}	
	
	
	
	
	
	
	
	
.allinone_carousel {
	position:relative;
}
.allinone_carousel img {
	max-width:none;
	max-height:none;
}
.allinone_carousel_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}

.allinone_carousel_list li {
	top:0;
	}

.allinone_carousel .contentHolder {
	position:relative;
	overflow:hidden;
	
	width:100%;
	height:auto;
	padding:0;
	margin-top:40px;
}
/*.mycanvas {
	position:absolute;
	top:8px;
	right:10px;
	z-index:1000;
}*/

/*.myloader {
	background:url(skins/loader.gif);
	width:37px;
	height:37px;
	position:absolute;
	left:49%;
	top:49%;
	z-index:999;
}*/

/*******/

/***sweet SKIN***/

.allinone_carousel.sweet .contentHolderUnit {
	position:absolute;
	/*float:left;
	display:block;*/
	width:220px;
	height:310px;
	overflow:hidden;
	cursor: pointer;
	/*border:1px #F00 solid;*/
	background:url(../images-visor/sweet/empty.gif) repeat;
}

.allinone_carousel.sweet .elementTitle {
	position:absolute;
	left:0;
	bottom:65px;
	width:100%;
	text-align:center;
	font-family:"Stag Sans Light", Arial, sans-serif;
	font-size:20px;
	color:#000;
	text-transform:capitalize;
	z-index:201;
	word-wrap:break-word;
}

/******************************************/
	/***			MOZILLA FIREFOX			***/
	/******************************************/	
	@-moz-document url-prefix() { 
		.allinone_carousel.sweet .elementTitle {
		height:20px;
		position:absolute;
		top:375px;
		}
	}

/*
.allinone_carousel.sweet .playOver {
	position:absolute;
	width:220px;
	height:310px;
	background:url(../images-visor/sweet/play_overOFF.png) 0 0 no-repeat;
	display:none;
	z-index:200;
	cursor: pointer;
}

.allinone_carousel.sweet .playOver:hover {
	background:url(../images-visor/sweet/play_overOFF.png) 0 0 no-repeat;
}

*/

.allinone_carousel.sweet .bannerControls {
	position:absolute;
	left:0;
	top:-5px;
	z-index:101;
	width:100%;
}

.allinone_carousel.sweet .leftNav {
	position:absolute;
	left:330px;
	width:110px;
	height:157px;
	background:url(../images-visor/sweet/leftNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_carousel.sweet .rightNav {
	position:absolute;
	right:277px;
	width:110px;
	height:157px;
	background:url(../images-visor/sweet/rightNavOFF.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_carousel.sweet .bottomNav {
	position:absolute;
	height:35px;
	width:0;
	padding-left:9px;
	z-index:140;
}

.allinone_carousel.sweet .bottomNavButtonOFF {
	float:left;
	display:block;
	width:11px;
	height:11px;
	background:url(../images-visor/sweet/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:9px;
	cursor: pointer;
}

.allinone_carousel.sweet .bottomNavButtonON {
	float:left;
	display:block;
	width:11px;
	height:11px;
	padding-left:9px;
	background:url(../images-visor/sweet/bottomNavON.png) 0 0 no-repeat;
	cursor: pointer;
}

.allinone_carousel.sweet .bottomNavLeft {
	position:absolute;
	width:63px;
	height:35px;
	bottom:-10px;
	z-index:140;
}
.allinone_carousel.sweet .bottomNavRight {
	position:absolute;
	width:63px;
	height:35px;
	bottom:-10px;
	z-index:140;
}

.allinone_carousel.sweet .bottomOverThumb {
	position:absolute;
	width:88px;
	height:106px;
	background:url(../images-visor/sweet/bottomOverThumbBg.png) 23px bottom no-repeat;
	bottom:27px;
	margin-left:-25px;
}
.allinone_carousel.sweet .bottomOverThumb img {
	border:4px solid #FFFFFF;
}

/******************************************/
/***		CSS para movil 1360px		***/	
/******************************************/
@media only screen and (max-width:1360px){
	#banner-container {
		width:100%;
		height:268px;
		background:url(../images-visor/sweet/background-banner-responsive.jpg) no-repeat;
		}

	.allinone_carousel .contentHolder {
		margin-top:10px;
		}

	.allinone_carousel.sweet .leftNav {
		top:-40px;
		left:220px;
		width:40px;
		height:40px;
		background:url(../images-visor/sweet/leftNavOFF-responsive.png) 0 0 no-repeat;
		}

	.allinone_carousel.sweet .rightNav {
		top:-40px;
		right:220px;
		width:40px;
		height:40px;
		background:url(../images-visor/sweet/rightNavOFF-responsive.png) 0 0 no-repeat;
		}
		
	#banner-container #container-nav-min-right {
		position:absolute;
		top:232px;
		right:70px;
		}
		
	#banner-container #container-nav-min-left {
		position:absolute;
		top:232px;
		left:70px;
		}	
		
	.allinone_carousel.sweet .bannerControls {
		top:0px;
	}	
		
	#container-nav-min-right #container-min-left,
	#container-nav-min-left #container-min-left {
		width:23px;
		height:70px;
		background:url(../images-visor/sweet/container-min-left-responsive.png) no-repeat;
		}	
		
	#container-nav-min-right #container-min-right,
	#container-nav-min-left #container-min-right {
		width:23px;
		height:70px;
		background:url(../images-visor/sweet/container-min-right-responsive.png) no-repeat;
		}	
		
	#container-nav-min-right #container-min-center,
	#container-nav-min-left #container-min-center {
		min-width:35px;
		height:70px;
		background:url(../images-visor/sweet/container-min-center-responsive.png) repeat-x;
		padding:8px 0;
		}
		
	#container-min-center li a {
		width:24px;
		height:37px;
		margin:0 8px;
		}	
		
	#container-min-center li a img {
		width:24px;
		height:37px;
		}		
		
	.allinone_carousel.sweet .elementTitle {
		font-size:18px;
	}	

	/******************************************/
	/***			MOZILLA FIREFOX			***/
	/******************************************/	
	@-moz-document url-prefix() { 
		.allinone_carousel.sweet .elementTitle {
			top:345px;
			}		
	
	}

}